body, html 
{
    margin:0;
    height: 100%;
    background-image: url("/res/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
  }

header
{
    background-color: #2980b9;
    height: 60px;
    font-size: 40px;
    color:white;
    text-align: center;
}

footer
{
    height: 60px;
    background-color: black;
}

.dunoir
{
    background-color:#34495e;
    color : white;
}

.bloc-prim
{
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: #ecf0f1;
}

form input
{
    margin : 8px;
}

.blocs
{
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: 3px;
    border-radius: 3%;
    width: 30%;
    height: 40%;
    padding: 20px;
    text-align: center;
    background-color: #bdc3c7;
}

#mapid
{
    width: 80%;
    height: 100%;
}

#infos
{
    width : 20%;
    height : 100%;
    float : left;
    padding : 10px;
    background-color: #fbf8f8;
    border-right : 5px solid #16a085;
}