body, html 
{
    margin:0;
    height: 100%;
    background-image: url("/img/bg.jpg");
}

* {
    box-sizing: border-box;
  }

header
{
    background-color: #2980b9;
    height: 60px;
    font-size: 40px;
    color:white;
    text-align: center;
}

footer
{
    height: 60px;
    background-color: black;
}

.bloc-prim
{
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: #ecf0f1;
    z-index: 2;
}

form input
{
    margin : 8px;
}